<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" , shrink-to-fit=no>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <!--<div class="row">
            <div class="col-md-12 header">
                <h1>Welcome to Feedback Page</h1>
            </div>
        </div>-->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio:feedback' %}">Feedback</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link 2" href="{% url 'portfolio:index' %}">About Me</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio:signup' %}">Signup</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio:login' %}">Login</a>
                </li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'portfolio:login' %}" method="post"> <br></br>
                    {% csrf_token %}
                    <h3>Welcome {{user.username}}</h3>
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </div>
         <div class="row">
            <div class="col-md-6">
                    <p>Your project list is as follows : </p>
                    {% for p in projects %}
                    <li>{{ p.project_name }}</li>
                {% endfor %}
                
            </div>
        </div> 
        <!-- Adding new projects -->
        <div class="row">
            <div class="col-md-6">
                <form  method="post" action = "{% url 'portfolio:account' %}"> <br></br>
                    {% csrf_token %}
                    <!-- <h3>Welcome {{user.username}}</h3> -->
                    <!-- <div class="form-group">
                        <label for="project_name">First Name:</label>
                        <input type="text" class="form-control" id="project_name" placeholder="Enter Project Name"
                            name="project_name">
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date:</label>
                        <input type="date" class="form-control" id="start_date" placeholder="Enter Start Date"
                            name="start_date">
                    </div>
                    <div class="form-group">
                        <label for="members">Member:</label>
                        <input type="text" class="form-control" id="members" placeholder="Enter member name"
                            name="members">
                    </div> -->
                    {{project_form.as_p}}
                    <button type="submit" class="btn btn-success">Add Projects</button>
                </form>
            </div>
        </div>

    </div>
    <br></br>
    <br></br>
    <!-- <div class="row">
            <div class="font-weight-bold">
                    <h2 style="text-align:center;">&nbsp; WELCOME USER {{user.username}}</h2> 
                </div>
                <form action="{% url 'portfolio:login' %}" method="post"> <br></br>
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>

    </div> -->
    <div>