<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" , shrink-to-fit=no>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio:feedback' %}">Feedback</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link 2" href="{% url 'portfolio:index' %}">About Me</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio:signup' %}">Signup</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'portfolio:login' %}">Login</a>
                </li>

            </ul>
        </nav>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                    &nbsp;<img src="../../static/portfolio/images/Srk.png" alt="Shahrukh" width="265" height="270">
            </div>
        </div> <br></br>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-* ">
                <div class="font-weight-bold">
                        &nbsp; <p style="text-align:center;">&nbsp; &nbsp; &nbsp;Software Engineer/Big Data Enthusiast</p>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
                <div class="col-md-5">
                    </div>
                    <div class="col-md-* ">
                        <div class="font-weight-normal" style="width: 350px;">
                            <p style="text-align:center" >My name is Muhammad Shahrukh Khan. I am a Software Engineer at Northbay Solutions. I have worked on multiple technologies around Big Data and Cloud Computing. In this regard, I have completed many trainings. Apart from that I am also an AWS Certified Associate Developer. My first proper project was Nationwide at Northbay. Currently, I am working in DnB Django team. This team is responsible for learning Python's Web framework Django. </p>
                        </div>
                    </div>
        
            </div>
    </div>

</body>

</html>